In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
books = pd.read_csv('BX-Books.csv', sep=';', on_bad_lines='skip', encoding='latin-1')

C:\Users\chndu\AppData\Local\Temp\ipykernel_2380\560915395.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=';', on_bad_lines='skip', encoding='latin-1')

In [21]:
books.sample(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
94572,0670861286,The Grace in Older Women,Jonathan Gash,1995,Penguin USA,http://images.amazon.com/images/P/0670861286.0...,http://images.amazon.com/images/P/0670861286.0...,http://images.amazon.com/images/P/0670861286.0...
205063,0684872552,A Whole New Life : An Illness and a Healing (S...,Reynolds Price,2000,Scribner,http://images.amazon.com/images/P/0684872552.0...,http://images.amazon.com/images/P/0684872552.0...,http://images.amazon.com/images/P/0684872552.0...

In [22]:
books.iloc[200]['Image-URL-L']

'http://images.amazon.com/images/P/3570300099.01.LZZZZZZZ.jpg'

In [23]:
books.shape

(271360, 8)

In [24]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [25]:
users = pd.read_csv('BX-Users.csv', sep=';', on_bad_lines='skip', encoding='latin-1')

In [27]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN